apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ gitops_app_name }}
  namespace: {{ argocd_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ gitops_repo_url | quote }}
    targetRevision: {{ gitops_repo_revision | quote }}
    path: {{ gitops_app_path | quote }}
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ gitops_destination_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

